body {
  font-family: "Poppins", sans-serif;
  background: url("/img/bg2.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff !important;
  background-color: rgb(41 58 76 / 50%) !important;
  background-blend-mode: color;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: inherit !important;
}
h1 {
  font-size: 4rem;
  font-weight: bold;
}
.box {
  background: rgb(255 255 255 / 30%);
}
